<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://www.dita-ot.org/rng/plugin.rnc" type="application/relax-ng-compact-syntax"?>

<plugin id="com.example.customplugin">
  <require plugin="org.dita.pdf2"/>
  <transtype name="customplugin" extends="pdf" desc="PDF on A4 paper"/>
  <feature extension="dita.transtype.print" value="customplugin"/>
  <feature extension="ant.import" file="integrator.xml"/>
</plugin>
